
# Git y editores
.git
**/.vscode
**/.idea

#Variables de entorno
**/.env
**/.env.*

# Dependencias: se instalan dentro de la imagen
**/node_modules
**/vendor

# Archivos generados en desarrollo
frontend/dist
frontend/.angular
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/api-docs
backend/bootstrap/cache/*.php
backend/database/*.sqlite
