.product-detail {
  max-width: 32rem;
}

.product-detail__actions {
  display: flex;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

.details {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem 1.5rem;

  dt {
    font-weight: 600;
  }

  dd {
    margin: 0;
  }
}
